.profile-container{
    display: flex;
}
.player-container{
    width: 75%;
    margin-left: 10px;
    margin-right: 5px;
    border-right: 1px solid gray;
}


.summary{
        width: 250px;
        border: 2px solid black;
        text-align: center;
        margin: 10px;   
}








